# Config file for automatic testing at travis-ci.org

# language: python
# python:
#   - 3.6

# # Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
# install: pip install -U tox-travis codecov black

# # Command to run tests, e.g. python setup.py test
# script:
#         - travis_wait tox
#         - travis_wait black --check KD_Lib
#         - travis_wait black --check tests

# # Codecov after success
# after_success: travis_wait 30 codecov --token=d25a9eb9-4e77-4d38-8862-6d447be11830


language: python
python:
  - "3.6"      
install:
  - pip install codecov
  - pip install pytest-cov
  - pip install cython
  - python setup.py install
  
  
jobs:
  include:
    # Deploy Documentation
    - stage: Docs
      python: "3.6"
      if: type != cron
      # Use previously defined before_install

      install:
        - pip install -r docs/requirements.txt

      script:
        - make clean -C docs/ html
        
    - stage: black
      python: "3.6"
      script: 
        - travis_wait black --check KD_Lib
        - travis_wait black --check tests
      after_success: # Nothing to do
