# Config file for automatic testing at travis-ci.org

language: python
python:
  - 3.6

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox-travis codecov

# Command to run tests, e.g. python setup.py test
script: tox

# Codecov after success
after_success: codecov

deploy:
  provider: pypi
  username: "__token__"
  password: pypi-AgEIcHlwaS5vcmcCJDRkYjQ3MDBjLTI3MWEtNGM1Ny05NTBjLWZiNmFjNTBhODRiOQACN3sicGVybWlzc2lvbnMiOiB7InByb2plY3RzIjogWyJrZC1saWIiXX0sICJ2ZXJzaW9uIjogMX0AAAYgI0Xwagi3dnvYYMRZYWRFEHiArHMMkf1pQYXqPXnyV-k
  on:
    tags: true